nbproject/
src/temp/**
tests/**
tests/
/tests/**

*.gen.php
*.dyn.php
*.gen.dyn.php

*.min.js
*.min.css

~gens/
~gens/**

#OS junk files
[Tt]humbs.db
*.DS_Store

**/temp/

/modules/
/modules/**

src/view/js/mvvm.js

src/useful/dev-mode/
src/useful/dev-mode/**

*.orig
